.about {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 31px;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__list-element-title {
  @include font-parameter(normal, bold, 17px, 20px, $basic-black);
}
