.about {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 31px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 668px;
  }
}

.about__title {
  margin: 0;
  padding: 0;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.about__list-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    width: 334px;
    margin-bottom: 55px;
  }
}

.about__list-element-title {
  @include font-parameter(normal, bold, 17px, 20px, $basic-black);
  padding: 0;
  padding-top: 83px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-parameter(normal, bold, 20px, 22px, $basic-black);

    padding-top: 56px;
    padding-right: 40px;
  }
}
