.body {
  background-color: $basic-white;
  font-family: "Open sans", "Verdana", "Geneva", "Tahoma", sans-serif;

  @include font-parameter(normal, normal, 15px, 24px, $black-two);

  min-width: 320px;
}
