.button {
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid $black-two;
  background-color: transparent;

  &:hover {
    background-color: $black-two;
    color: $basic-white;
  }
}
