.catalog {
  margin: 0 auto;
}

.catalog__list {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  list-style: none;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 31px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0;
  }
}

.catalog__item {
  margin-bottom: 30px;
}
