.catalog {
  margin: 0 auto;
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 23px;
  }
}

.catalog__list {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }
}
