.contacts {
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 38px;
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-top: 68px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    align-items: start;
  }
}

.contacts__title-wrapper {
  margin: 0 auto;
  width: 260px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;

  @media (min-width: $tablet-width) {
    width: 668px;
    display: grid;
    grid-template-columns: 334px 334px;
    grid-template-rows: auto auto;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 524px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    margin-top: 150px;
  }
}

.contacts__title {
  @include font-parameter(normal, bold, 18px, 30px, $basic-black);
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include font-parameter(normal, bold, 43px, 50px, $basic-black);
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      background-image: url("../../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-size: 47px 82px;
      width: 47px;
      height: 82px;
      top: -26px;
      right: -331px;
    }
  }

  @media (min-width: $desktop-width) {
    @include font-parameter(normal, bold, 43px, 50px, $basic-black);
    padding-right: 59px;
  }
}

.contact__email-wrapper {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
    margin-top: 34px;
  }
}

.contact__email-title {
  @include font-parameter(normal, normal, 15px, 30px, $black-two);
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-parameter(normal, normal, 17px, 30px, $black-two);
    margin-right: 25px;
  }
}

.contacts__email {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid $green-two;
  padding: 0;
  margin: 0;

  & p {
    margin: 0;
    padding: 0;
  }

  @include font-parameter(normal, normal, 15px, 30px, $black-two);

  @media (min-width: $tablet-width) {
    @include font-parameter(normal, normal, 17px, 30px, $black-two);
  }

  &:hover {
    color: $green-two;
    border-color: $link-green;
  }

  &:active {
    color: $link-green;
    border-color: lighten($link-green, 90%);
  }
}

.contact__address-wrapper {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
    margin-top: 34px;
  }
}

.contacts__address-title {
  @include font-parameter(normal, normal, 15px, 30px, $black-two);
  margin: 0;
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    @include font-parameter(normal, normal, 17px, 30px, $black-two);
    margin: 0;
    padding-top: 17px;
  }
}

.contacts__address {
  @include font-parameter(normal,normal, 15px, 30px, $black-two);
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-parameter(normal, normal, 17px, 30px, $black-two);
    padding-left: 25px;
    padding-top: 17px;
  }
}

.contacts__write {
  width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 33px;

  @include font-parameter(normal, bold, 18px, 20px, $black-two);

  @media (min-width: $tablet-width) {
    @include font-parameter(normal, bold, 17px, 20px, $black-two);
    width: 230px;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    @include font-parameter(normal, bold, 17px, 20px, $black-two);
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 175px;
  }
}

.contacts__map {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  & img {
    @media (min-width: $tablet-width) {
      width: 768px;
      height: 457px;
    }

    @media (min-width: $desktop-width) {
      width: 527px;
      height: 457px;
    }
  }

  &::before {
    content: " ";
    position: absolute;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
    width: 66px;
    height: 101px;
    top: 145px;
    left: 138px;

    @media (min-width: $tablet-width) {
      top: 138px;
      left: 363px;
    }
  }
}
