.featured {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 31px;
  padding-bottom: 45px;

  //Планшетная версия
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 292px 258px 118px;
    grid-template-rows: auto auto auto auto auto;
    margin-top: 21px;
    padding-bottom: 54px;
  }

  //Десктопная версия

  @media (min-width: $desktop-width) {
    grid-template-columns: 175px 292px 583px;
    grid-template-rows: auto auto auto auto auto;
  }
}

.featured__title-item {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-bottom: 38px;

    @media (min-width: $desktop-width) {
      grid-column: 2/4;
      grid-row: 1/2;
      z-index: 10;
    }
  }
}

.featured__title-promotion {
  @include font-parameter(normal, bold, 17px, 20px, $light-green);
  text-transform: uppercase;
  padding: 0;
  padding-top: 3px;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-right: 6px;
    padding-top: 5px;
    text-align: center;

    @include font-parameter(normal, bold, 17px, 17px, $light-green);
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.featured__description {
  @include font-parameter(normal, normal, 15px, 24px, $black-two);
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
    margin: 0;

    @include font-parameter(normal, normal, 17px, 30px, $black-two);
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.featured__table {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.featured__table-parameter {
  @include font-parameter(normal, normal, 15px, 20px, $black-two);
  padding: 0;
  padding-top: 5px;
  padding-bottom: 13px;
  margin: 0;
  width: 93px;
  border-bottom: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    width: 92px;
    padding-top: 5px;
    padding-bottom: 12px;
  }
}

.featured__table-value {
  @include font-parameter(normal, normal, 15px, 20px, $black-two);
  border-bottom: 1px solid $basic-grey;
  padding-top: 5px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 12px;
  }
}

.featured__img {
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    grid-column: 2/4;
    grid-row: 2/6;
    width: 303px;
    height: 404px;
    margin-left: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    grid-row: 1/6;
  }
}

.featured__price {
  @include font-parameter(normal, bold, 17px, 24px, $black-two);

  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-right: 2px;
  padding-bottom: 23px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 4/5;
    padding-top: 39px;
    padding-right: 2px;
    padding-bottom: 16px;

    @include font-parameter(normal, bold, 20px, 24px, $black-two);
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

.featured__button {
  @include font-parameter(normal, bold, 18px, 20px, $black-two);
  width: 260px;
  padding-top: 15px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 292px;
    height: 52px;

    @include font-parameter(normal, bold, 17px, 20px, $black-two);
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}
