.featured {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 31px;
}

.featured__title-item {
  padding: 0;
  margin: 0;
}

.featured__title-promotion {
  @include font-parameter(normal, bold, 17px, 20px, $light-green);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.featured__description {
  @include font-parameter(normal, bold, 15px, 24px, $black-two);
}

.featured__table-parameter {
  @include font-parameter(normal, bold, 15px, 20px, $black-two);
}

.featured__table-value {
  @include font-parameter(normal, bold, 15px, 20px, $black-two);
}

.featured__price {
  @include font-parameter(normal, bold, 17px, 24px, $black-two);
}

.featured__button {
  @include font-parameter(normal, bold, 17px, 20px, $black-two);
}
