.footer {
  margin: 0 auto;
  background-color: $grey-one;
}

.footer__wrapper {
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.footer__social {
  border-bottom: 1px solid $grey-two;

  @media (min-width: $tablet-width) {
    margin-right: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 274px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 159px;
    margin-top: 51px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 350px;
    margin-top: 51px;
    margin-bottom: 58px;
  }
}
