.footer {
  margin: 0 auto;
  background-color: $grey-one;
}

.footer__wrapper {
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.footer__social {
  border-bottom: 1px solid $grey-two;
}
