.header {
  margin: 0 auto;

  //Планшетная версия
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.header__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 321px 347px;
    grid-template-rows: auto auto;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    display: grid;
    grid-template-columns: 400px 250px 400px;
    grid-template-rows: auto auto;
  }
}

.header__logo {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 50px;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

}

.header__title {
  @include font-parameter(normal, bold, 27px, 30px, $basic-black);
  width: 260px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 120px;
  text-align: center;

  //Планшетная версия
  @media (min-width: $tablet-width) {
    @include font-parameter(normal, bold, 43px, 50px, $basic-black);
    width: 668px;
    padding-top: 109px;
    padding-bottom: 372px;
  }

  //Десктопная версия
  @media (min-width: $desktop-width) {
    @include font-parameter(normal, bold, 53px, 57px, $basic-black);
    width: 1050px;
    padding-top: 114px;
    padding-bottom: 355px;
  }
}

.header__title-wrapper--catalog {
  background-color: $grey-one;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.header__title-wrapper--form {
  background-color: $grey-one;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}


.header__title-wrapper--index {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.header__text {
  @include font-parameter(normal, normal, 15px, 24px, $black-two);
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0;
    margin: 0;
    text-align: right;
    padding-right: 50px;
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
