.main {
  margin: 0 auto;
}

.main__form-wrapper {
  margin: 0 auto;
  width: 260px;
  display: flex;
  flex-direction: column;
  padding-top: 17px;
}

.main__text {
  @include font-parameter(normal, normal, 13px, 24px, $black-two);
  margin: 0;
}
