.modal {
  display: none;
}

.modal__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 46px;
  border: 1px solid $grey-three;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 556px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal__form-input-wrapper {
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
}

.modal__title {
  @include font-parameter(normal, bold, 25px, 30px, $basic-black);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-parameter(normal, bold, 30px, 57px, $basic-black);
  }
}

.modal__form-text {
  @include font-parameter(normal, normal, 15px, 30px, $black-two);

  @media (min-width: $tablet-width) {
    @include font-parameter(normal, normal, 17px, 30px, $black-two);
  }
}

.modal__form-label {
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  text-align: center;
  padding-top: 18px;
  margin-right: 7px;
  border: 2px solid $black-two-rgb;

  @include font-parameter(normal, bold, 17px, 16px, $black-two);
}

.modal__form-button {
  @include font-parameter(normal, bold, 17px, 16px, $basic-white);
  font-family: inherit;
  background-color: $light-green;
  width: 260px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
