.pages {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pages__interior {
  background-color: $light-green;
}

.pages__toys {
  background-color: $green-one;
}

.pages__link {
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  width: 320px;
  padding-left: 30px;
  padding-right: 130px;
  padding-bottom: 31px;
  padding-top: 24px;
}

.pages__title {
  @include font-parameter(normal, bold, 19px, 24px, $basic-white);
  padding: 0;
  margin: 0;
}
