.reviews {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 58px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 68px;
    margin-top: 83px;
    display: grid;
    grid-template-columns: 334px 334px;
    grid-template-rows: auto auto auto;
    align-items: start;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: top left;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 1050px;
    margin-top: 83px;
    padding: 0;
    display: grid;
    grid-template-columns: 525px 525px;
    grid-template-rows: auto auto auto;
    align-items: start;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: top left;
  }
}

.reviews__title {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 174px;
  }
}

.reviews__text {
  @include font-parameter(normal, normal, 15px, 30px, $black-two);
  padding: 0;
  padding-top: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 0;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    @include font-parameter(normal, normal, 17px, 30px, $black-two);
    padding-left: 174px;
  }
}

.reviews__author {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 174px;
  }
}

.reviews__author-name {
  @include font-parameter(normal, bold, 18px, 24px, $basic-black);
  padding: 0;
  margin: 0;
}

.reviews__autor-nickname {
  padding: 0;
  padding-top: 11px;
  margin: 0;
  margin-bottom: 47px;
}

.reviews__button {
  display: flex;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 140px;
    margin-left: auto;
    margin-top: 67px;
    margin-right: 20px;
  }
}

.reviews__prev,
.reviews__next {
  position: relative;
  padding: 0;
  margin: 0;
  width: 130px;
  height: 52px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    width: 70px;
  }
}

.reviews__prev {
  border-bottom: 1px solid $basic-grey;
  border-left: 1px solid $basic-grey;
  border-top: 1px solid $basic-grey;

  &::after {
    content: " ";
    position: absolute;
    background-image: url("../img/icon-left-arrow.svg");
    top: 13px;
    left: 37px;
    width: 50px;
    height: 26px;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &::after {
      content: " ";
      position: absolute;
      background-image: url("../img/icon-left-arrow.svg");
      top: 13px;
      left: 0;
      width: 50px;
      height: 26px;
    }
  }
}

.reviews__next {
  border-bottom: 1px solid $basic-grey;
  border-right: 1px solid $basic-grey;
  border-top: 1px solid $basic-grey;

  &::after {
    content: " ";
    position: absolute;
    background-image: url("../img/icon-right-arrow.svg");
    top: 13px;
    left: 37px;
    width: 50px;
    height: 26px;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &::after {
      content: " ";
      position: absolute;
      background-image: url("../img/icon-right-arrow.svg");
      top: 13px;
      left: 17px;
      width: 50px;
      height: 26px;
    }
  }
}

.reviews__write {
  @include font-parameter(normal, bold, 18px, 20px, $black-two);
  margin-top: 38px;
  width: 260px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    margin-left: auto;
    margin-top: 79px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: auto;
    margin-top: 79px;
  }
}
