.reviews {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 58px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.reviews__title {
  padding: 0;
  margin: 0;
}

.reviews__text {
  @include font-parameter(normal, normal, 15px, 30px, $black-two);
  padding: 0;
  padding-top: 14px;
  margin: 0;
}

.reviews__author-name {
  @include font-parameter(normal, bold, 18px, 24px, $basic-black);
  padding: 0;
  padding-top: 33px;
  margin: 0;
}

.reviews__button {
  display: flex;
  margin-top: 30px;
}

.reviews__prev,
.reviews__next {
  padding: 0;
  margin: 0;
  width: 130px;
  height: 52px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.reviews__prev {
  border-bottom: 1px solid $basic-grey;
  border-left: 1px solid $basic-grey;
  border-top: 1px solid $basic-grey;
}

.reviews__next {
  border-bottom: 1px solid $basic-grey;
  border-right: 1px solid $basic-grey;
  border-top: 1px solid $basic-grey;
}

.reviews__write {
  @include font-parameter(normal, bold, 18px, 20px, $black-two);
  margin-top: 38px;
}
