// Переменные цвета
$basic-black: #000000;
$black-one: #231f20;
$black-two: #444444;
$basic-grey: #e5e5e5;
$grey-one: #f1f1f1;
$grey-two: #ececec;
$basic-white: #ffffff;
$dark-green: #149080;
$green-one: #56c3b2;
$green-two: #62d1ba;
$green-three: #6bc6b3;
$light-green: #63d1bb;

// Переменные шрифта
$font: "Open sans";

//примеси

@mixin font-first ($font, $style, $weight) {
  font-family: $font;
  font-style: $style;
  font-weight: $weight;
}

@mixin font-second($size, $height, $color) {
  font-size: $size;
  line-height: $height;
  color: $color;
}
