// Переменные цвета
$basic-black: #000000;
$black-one: #231F20;
$black-two: #444444;
$basic-grey: #E5E5E5;
$grey-one: #F1F1F1;
$grey-two: #ECECEC;
$basic-white: #FFFFFF;
$dark-green: #149080;
$green-one: #56C3B2;
$green-two: #62D1BA;
$green-three: #6BC6B3;
$light-green: #63D1BB;

// Переменные шрифта
$font: 'Open sans';

//примеси
@mixin font-parameter($style;$weight;$size;$height) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
